@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin text-overflow-show {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
$dashed: 1px dashed #ccc;
$orange-color: #f07235;
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.el-input {
  .el-input__inner {
    &:focus {
      border-color: #f07235;
    }
  }
}
.el-message-box {
  width: 328px;
  padding-bottom: 0 !important;
  .el-message-box__title {
    text-align: center;
    font-size: 14px;
  }
  .message-box {
    h4 {
      font-weight: normal;
      line-height: 1;
      padding-bottom: 10px;
    }
    ol {
      padding-left: 15px;
    }
  }
  .el-message-box__btns {
    padding: 6px 15px 20px 15px;
    .el-button {
      width: 100%;
      background: rgb(209, 14, 14);
      border-color: rgb(209, 14, 14);
      font-weight: bold;
      span {
        color: #fff;
      }
    }
  }
}
.amap-info-content {
  padding: 0 !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  border-radius: 4px;
}
.marker-title {
  background: #fff;
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  color: $orange-color;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.search-wrapper {
  position: absolute;
  top: 82px;
  left: 20px;
  width: 360px;
  .el-input {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    .el-input__inner
    {
      height: 45px;
      padding: 0 12px;
      &:focus {
        border-color: $orange-color;;
      }
    }
  }
  .el-input__suffix {
    .el-input__icon {
      width: 45px;
      font-size: 18px;
    }
  }
  .search-dropdown {
    background: #fff;
    max-height: 350px;
    overflow: hidden;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    border-radius: 5px;
    ul{
      width: 375px;
      max-height: 350px;
      overflow: auto;
      li {
        padding: 5px 12px;
        text-align: left;
        white-space: nowrap;
        cursor: pointer;
        overflow: hidden;
        @include text-overflow-show;
        &:hover {
          background: rgba(254,114,39,.3);
          small {
            font-weight: bold;
          }
        }
        small {
          color: rgb(139, 137, 137);
        }
      }
    }
    .no-result {
      padding: 10px 0 ;
      label {
        font-size: 18px;
        span {
          margin-right: 10px;
        }
      }
    }
  }
}
.display {
  display: block;
}
.hidden {
  display: none;
}
.filter-wrapper {
  width: 78px;
  height: 35px;
  position: absolute;
  right: 20px;
  top: 82px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.6);
  transition: all .3s;
  overflow: hidden;
  &.filterShow {
    width: 275px;
    max-width: 300px;
    height: auto;
    max-height: 580px;
    overflow: auto;
  }
  .filter-icon {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &.hidden {
      display: none;
    }
    .filter-icon-info {
      width: 16px;
      height: 16px;
      padding-right: 10px;
    }
  }
  .filter-content {
    padding: 10px 0 5px 0;
    .filter-body {
      padding: 10px 20px;
      &:first-child {
        ul {
          border-bottom: 1px solid #e2e2e2;
          padding-bottom: 10px;
        }
      }
      .filter-select {
        text-align: left;
        .filter-select-title {
          width: 56px;
          font-size: 14px;
        }
        .el-select {
          margin-left: 10px;
          .el-select__tags {
            .el-tag--info {
              max-width: 90px;
              @include text-overflow-show;
            }
          }
          .el-input {
            width: 192px;
            &.is-focus {
              border-color: $orange-color;;
              input.el-input__inner {
                border-color: $orange-color;;
                &:focus {
                  border-color: $orange-color;;
                }
              }
            }
          }
        }
        .el-input__inner:focus {
          border-color: $orange-color;
        }
      }
    }
    .filter-list-wrapper {
      padding: 10px 0 0 0;
      display: flex;
      ul {
        flex: 50%;
        list-style: none;
        padding-left: 0;
        text-align: left;
        font-size: 14px;
        li {
          height: 46px;
          display: flex;
          align-items: center;
          span.filter-category-icon {
            width: 20px;
            padding: 0 8px 0 3px;
          }
          .filter-color-block {
            width: 10px;
            height: 10px;
            margin: 0 12px 0 9px;
            border-radius: 50%;
          }
          .filter-tag-title {
            min-width: 56px;
            margin: 0 10px;
            flex: auto;
            display: inline-block;
          }
          .filter-tag-color {
            .filter-color-badge {
              width: 4px;
              height: 4px;
              border-radius: 50%;
            }
          }
          span:nth-child(3) {
            margin-right: 16px;
          }
        }
      }
    }
    .filter-footer {
      padding: 10px 20px;
      text-align: left;
      border-top: 1px solid #dcdfe6;
      .filter-footer-title {
        width: 56px;
      }
    }
  }
}
.el-select-dropdown.is-multiple.el-popper {
  .el-select-dropdown__item {
    padding: 0;
    @include text-overflow-show;
    span {
      padding-left: 20px;
    }
    &.selected {
      color: $orange-color;
      &.hover {
        background-color: rgba(255, 166, 0, 0.24);
        color: $orange-color;;
      }
      span {
        color: $orange-color;
      }
    }
    &.hover {
      background: rgba(255, 166, 0, 0.24);
      color: $orange-color;;
      .multiple-color-option {
        opacity: 1;
      }
    }
  }
}
.window-edit {
  width: 240px;
  background: #fff;
  .color-wrapper {
    padding: 10px 20px;
    border-bottom: $dashed;
    .color-title {
      text-align: left;
      padding: 5px 0;
      font-size: 14px;
      @include flex-space-between;
      span {
        flex: auto;
      }
      i.icon-circle-plus {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        font-size: 16px;
        cursor: pointer;
        color: #c9c9c9;
        border: 1px solid #c9c9c9;
        font-style: normal;
        &:hover {
          background: #f07235;
          border-color: #f07235;
          color: #fff;
        }
      }
      img {
        width: 16px;
        height: 16px;
        display: none;
      }
    }
    .color-list {
      ul {
        width: 100%;
        list-style: none;
        li {
          cursor: pointer;
        }
        .color-bar {
          padding: 5px 0;
          @include flex-space-between;
          label.radio-button {
            position: relative;
            display: inline-flex;
            flex: 1;
            margin: 5px 0;
            cursor: pointer;
            input.radio-button_orig-readio {
              position: absolute;
              opacity: 0;
              &:checked+span.radio-button_inner {
                i.el-icon-check {
                  line-height: 30px;
                  opacity: 1;
                  color: #fff;
                  font-weight: bolder;
                }
              }
            }
            span.color-bar-item {
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 180px;
              height: 30px;
              display: inline-block;
              border-radius: 15px;
              color: #fff;
              padding: 0 10px;
              line-height: 24px;
              font-size: 12px;
              font-weight: bold;
              z-index: 5;
              transition: flex-basis .3s;
              display: flex;
              justify-content: space-between;
              align-items: center;
              &.active {
                flex-basis: 128px;
              }
              i.el-icon-check {
                line-height: 30px;
                opacity: 0;
                transition: opacity .3s;
                font-weight: bold;
              }
            }
          }
          .edit-operate {
            flex: 0 0 50px;
            white-space: nowrap;
            transform: translateX(-70px);
            z-index: 1;
            transition: all .5s;
            &.show {
              transform: translateX(0);
            }
          }
          .el-icon-delete {
            margin-left: 10px;
            &:hover {
              color: $orange-color;
            }
          }
          .el-icon-edit {
            margin-left: 5px;
            cursor: pointer;
            &:hover {
              color: $orange-color;
            }
          }
        } 
      }
      .el-input {
        margin-top: 10px;
        .el-input__inner {
          height: 30px;
        }
      }
      .radio-group {
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        label.radio-button {
          position: relative;
          display: inline-flex;
          flex: 1;
          margin: 5px;
          cursor: pointer;
          &:first-child {
            margin-left: 0;
          }
          &:nth-child(4) {
            margin-right: 0;
          }
          &:nth-child(5) {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          input.radio-button_orig-readio {
            position: absolute;
            opacity: 0;
            &:checked+span.radio-button_inner {
              i.el-icon-check {
                line-height: 30px;
                opacity: 1;
                color: #fff;
                font-weight: bolder;
              }
            }
          }
          span.radio-button_inner {
            width: 42px;
            height: 30px;
            text-align: center;
            border-radius: 5px;
            i.el-icon-check {
              line-height: 30px;
              opacity: 0;
              transition: opacity .3s;
            }
          }
        }
      }
      span.tag-repeat-tip {
        display: block;
        font-size: 12px;
        color: rgb(245, 43, 31);
      }
    }
  }
  .icon-edit-wrapper {
    padding: 15px 0 10px 0 ;
    border-bottom: $dashed;
    .icon-title {
      padding: 0 20px 15px 20px;
      @include flex-space-between;
      span {
        font-size: 14px;
        flex: auto;
      }
      i.icon-circle-plus {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        font-size: 16px;
        cursor: pointer;
        color: #c9c9c9;
        border: 1px solid #c9c9c9;
        font-style: normal;
        &:hover {
          background: #f07235;
          border-color: #f07235;
          color: #fff;
        }
      }
      .el-icon-arrow-down {
        cursor: pointer;
      }
    }
    .existed-icon-wrapper {
      .radio-button {
        position: relative;
        display: block;
        cursor: pointer;
        input.radio-button_orig-readio {
          position: absolute;
          opacity: 0;
          &:checked+div.radio-button_inner {
            span {
              color: $orange-color;
            }
          }
        }
      }
      .existed-icon-list {
        padding: 0 15px;
        transition: background-color .3s;
        cursor: pointer;
        @include flex-space-between;
        &:hover {
          background: #f0733531;
          .el-icon-edit {
            opacity: 1;
          }
          .el-icon-delete {
            opacity: 1;
          }
        }
        svg {
          margin: 5px 5px 5px 0;
        }
        span {
          flex: auto;
          font-size: 12px;
          cursor: pointer;
        }
        .el-icon-edit {
          margin-right: 5px;
          color: #f07235;
          font-weight: bold;
          opacity: 0;
        }
        .el-icon-delete {
          color: #f07235;
          font-weight: bold;
          opacity: 0;
        }
      }
    }
    .edit-icon-content {
      padding: 0 20px;
      .el-input {
        margin: 10px 0;
        .el-input__inner {
          height: 30px;
        }
      }
      .edit-icon-list {
        .svg-box {
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          label.radio-button {
            position: relative;
            cursor: pointer;
            input.radio-button_orig-readio {
              position: absolute;
              opacity: 0;
            }
            svg.radio-button_inner {
              transition: background-color .3s;
            }
          }
          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
  .window-edit-footer {
    padding: 10px 20px;
    cursor: pointer;
    @include flex-space-between;
    img {
      width: 20px;
    }
  }
  .submit-btn-group {
    text-align: right;
    button{
      padding: 7px 6px;
      &.orangeBtn {
        background: #f07235;
        margin-left: 10px;
        &.el-button:focus, &.el-button:hover {
          background: #f3631a;
          span {
            color: #fff;
          }
        }
        span {
          color: #fff;
        }
      }
    }
    .el-button:focus, .el-button:hover {
      span {
        color: #f07235;
      }
      border-color: #f07235;
      background: #f0733525;
    }
  }
}
.information-wrapper {
  width: 360px;
  position: absolute;
  left: 20px;
  top: 136px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  height: auto;
  height: 75%;
  .information-title {
    font-size: 24px;
    background: #f07235;
    text-align: left;
    padding: 3% 20px;
    border-radius: 5px 5px 0 0;
    @include flex-space-between;
    span {
      color: #fff;
    }
    .information-close {
      font-size: 18px;
      cursor: pointer;
      color: #fff;
    }
  }
  .information-list {
    max-height: 85%;
    overflow: auto;
    ul {
      list-style: none;
      overflow: auto;
      li {
        padding: 14px 20px;
        text-align: left;
        display: flex;
        border-bottom: $dashed;
        &:last-child {
          border-bottom: 1px dashed transparent;
        }
        span {
          font-size: 14px;
          line-height: 20px;
          display: inline-block;
          &.item-title {
            color: #a0a0a0;
            flex: 0 0 98px;
          }
          &.item-content {
            color: #222222;
            margin-left: 20px;
          }
        }
        .item-image {
          width: 100%;
          .item-image-title {
            color: #a0a0a0;
            width: 98px;
            font-size: 14px;
            line-height: 20px;
            padding: 0 0 10px 0;
          }
          img {
            width: 33.33%;
            height: 74px;
            margin-right: 5px;
            border-radius: 5px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}