.st0 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:none;
  fill:#fff;
  stroke-miterlimit:10;
}
.st1 {
  fill-rule:evenodd;
  clip-rule:evenodd;
}
.st2 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#FFFFFF;
}
.st2 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#e2e2e2;
}
.st-hover {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill: inherit;
  stroke: inherit;
  stroke-miterlimit:10;
}
.st0-hover {
  fill-rule:evenodd;
  clip-rule:evenodd;
}
.st1-hover {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#FFFFFF;
}